//
   Created by william on 1/22/2015.

link(href='/stylesheets/404.css', rel='stylesheet', type='text/css')
doctype html
html
   head
      title - OH NO!!
      link(rel='stylesheet', href='404.css', type='text/css', media='all')
   body
      p
         | A problem has been detected and the website has been shut down to prevent damage to your computer.

      span.neg ERROR 404
      p
         | If this is the first time you have seen this error screen,
         br
         | restart your browser. If this screen appears again, follow
         br
         | these steps:
         br
         br
         | *Make sure that the page you requested is spelled properly.
         br
         br
         | If this is the case, press F5 for advanced reload options.
         br
         |    If problems continue, drop an email to iDontCare@ca.com
      p
         | Technical information:
         br
         | *** STOP: 0x000000 (0xc7a89489, 0x00000e79, 0xb23fcc65, 0x00000050)
         br
         br
         |     * Press CTRL+ALT+DEL to restart your computer. You will
         br
         |     &nbsp; lose unsaved information in any programs that are running.

      p
         |Beginning dump of physical memory
         br
         br
         |Physical memory dump complete
      | Press the link to continue
      blink
         .menu
            a(href='/')
               |Home



