body {
    background: #ffffff;
//font-family: "Helvetica Neue", "Helvetica, Arial", "sans-serif";
    font-size: 13px;
    line-height: 18px;
    color: #333333
}

a {
    cursor: pointer;
}

input,
button,
select,
textarea {
    font-family: 'Open Sans';
}



.footer {
    margin-top: 0;

    border-top: 1px solid #292929;
}

.footer-inner {
    padding: 15px 0;

    font-size: 12px;
    background: #942720;
    color: #020202;

}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #FFF;
    text-decoration: none;
}